#nestle-section{
    float:left;
    width:300px;
    position:relative;
}
#nestle-section label{
    float:left;
    width:100%;
    background:#333;
    color:#fff;
    padding:5px 0;
    text-align:center;
    cursor:pointer;
    border-bottom:1px solid #fff;
}

#nestle-section .tab-content1{
    float:left;
    width:280px;
    padding:0 10px;
    height:0;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    overflow:hidden;
}

#nestle-section  input:checked + label + .tab-content1{
    padding: 10px;
    height: 150px;
    -moz-transition: height 1s ease;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}
#nestle-section input:checked + label{
    background:#ccc;
    color:#333;
}

#nestle-section input{
    display:none;
}






input:checked ~ .tab-content {
  max-height: 50em;
}

input[type=radio] {
  display: none;
}
label {
  position: relative;
  display: block;
}
label:after {
  content: "+";
  position: absolute;
  right: 1em;
}
input:checked + label:after {
  content: "-";
}
input:checked ~ .tab-content {
  height: 150px;
}

